[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
attrs = "*"
requests = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
django-heroku = "*"
python-dotenv = "*"
django-cors-headers = "*"
django-anymail = {extras = ["mailgun"], version = "*"}
cattrs = "*"
mailerlite-api-python = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.8"
